* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-style: normal;
  background-color: rgb(230, 230, 230);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}